body{
  /* padding: 0 10%; */
  background-color: #fafafa;
}
/* header */
header{
  background-color: white;
  width: 100%;
}
.socialmedia,
.phone{
  display: inline-block;
}
.phone{
  padding-left: 15%;
}
.phone a:link{
  color: #a2d9c0;
}
.phone a:visited{
  color: #a2d9c0;
}
.socialmedia{
  float: right;
  padding-right: 15%;
}
.clear{
  clear: both;
}
.navbar{
  padding: .5rem 15%;
  background-color: #29b078;
}
.navbar-right{
  margin-left: auto;
  text-align: center;
}
.active{
  border-bottom: 3px solid white;
  color: #ffad85;
}
.navbar-nav a:hover{
  border-bottom: 3px solid white;
}
.nav-item{
  line-height: 3.5rem;
  color: white;
}

/* main */
main{
  /* padding-top: 6.5rem; */
}
.row p a:link{
  color: black;
}
.row p a:visited{
  color: black;
}
.row p span{
  color: #a2d9c0;
}
ul,
li{
  padding: 0;
  list-style-image: url(images/btn.png);
  list-style-position: inside;
}
.selected{
  list-style-image: url(images/selectBtn.png);
}
.selected a:link{
  color: #ffb396;
}
.title{
  padding-top: 1rem;
  list-style: none;
  font-weight: bold;
}

.sidebar{
  border: 1px solid #f6f6f6;
  text-align: center;
  background-color: white;
  margin-bottom: 3rem;
}
li a:link{
  color: #a2d9c0;
}
li a:visited{
  color: #a2d9c0;
}
p{
  color: #999;
}
.content{
  border: 1px solid #f6f6f6;
  padding: 3rem;
  background-color: white;
  margin-bottom: 3rem;
}
.pull-left{
  float: left;
}
.img-content{
  min-height: 120px;
  padding-left: 8rem;
  background: url('images/cooperations_20.png') no-repeat left;
  background-size: 8rem;
}

/* footer */
footer{
  background-color: #26a26f;
  font-size: .7rem;
}
table{
  font-size: .7rem;
  color: white;
  white-space: nowrap;
  width: 100%;
}
td{
  padding: 10px;
}
table a:link{
  color: white;
}
table a:visited{
  color: white;
}
.wechat-qr{
  text-align: center;
}
.wechat-qr span{
  display: block;
  color: white;
  white-space: nowrap;
}
.copyright{
  color: white;
}
