/* header */
header{
  background-color: white;
  width: 100%;
}
.socialmedia,
.phone{
  display: inline-block;
}
.phone{
  padding-left: 15%;
}
.phone a:link{
  color: #a2d9c0;
}
.socialmedia{
  float: right;
  padding-right: 15%;
}
.clear{
  clear: both;
}
.navbar{
  padding: .5rem 15%;
  background-color: #29b078;
}
.navbar-right{
  margin-left: auto;
  text-align: center;
}
.active{
  border-bottom: 3px solid white;
  /* width: fit-content; */
  /* color: #ffad85; */
}
.nav-item{
  line-height: 3.5rem;
  color: white;
}

/* main */
main{
  /* padding-top: 6.5rem; */
  background-color: #fafafa;
}
.carousel-indicators li{
  width: 10px;
  height: 10px;
  border-radius: 50%;
  border: 1px solid white;
  background-color: transparent;
}
.container span{
  display: block;
  text-align: center;
}
.grey{
  font-size: 0.8rem;
  color: #c4c4c4;
  text-align: left !important;
}
.row{
  padding: 1rem 5%;
}
.efficient{
  padding-top: 5rem;
  background: url(images/index_03.png) no-repeat top;
}
.standardized{
  padding-top: 5rem;
  background: url(images/index_05.png) no-repeat top;
}
.colleagues{
  padding-top: 5rem;
  background: url(images/index_07.png) no-repeat top;
}
.number{
  text-align: left !important;
  padding-left: 2rem;
  background: url(images/index_10.png) no-repeat left;
}
.rt{
  padding-top: 5rem;
}
.steps{
  padding: 2rem 0 2rem 5rem;
  /* padding-top: 2rem;
  padding-left: 5rem; */
  /* height: 5rem; */
}
.step1{
  background: url(images/number_03.png) no-repeat left top;
}
.step2{
  background: url(images/number_05.png) no-repeat left top;
}
.step3{
  background: url(images/number_07.png) no-repeat left top;
}
.step4{
  background: url(images/number_09.png) no-repeat left top;
}
.step5{
  background: url(images/number_23.png) no-repeat left top;
}
.step6{
  background: url(images/number_16.png) no-repeat left top;
}
.step7{
  background: url(images/number_18.png) no-repeat left top;
}
.step8{
  background: url(images/number_20.png) no-repeat left top;
}
.photo{
  padding-top: 7rem;
}
.photo1{
  background: url(images/index_23.png) no-repeat top;
}
.photo2{
  background: url(images/index_17.png) no-repeat top;
}
.photo3{
  background: url(images/index_19.png) no-repeat top;
}
.photo4{
  background: url(images/index_21.png) no-repeat top;
}
/* carousel2 */
#carousel2 .carousel-indicators .active{
  background-color: #2ab079;
}
#carousel2 .carousel-indicators li {
  background-color: white;
}
#carousel2 .carousel-indicators{
  position: relative;
  bottom: -10px;
}
.cooperations{
  background-color: white;
}

.anchors ul li::before{
  content: " \00b7      ";
  font-weight: bolder;
}
.anchors ul li{
  display: inline-block;
  font-size: .5rem;
  /* white-space: nowrap; */
}
.menu {
    display: flex;
    justify-content: space-between;
}
a:link{
  color:black;
}
.links{
  padding: 0;
  line-height: .5rem;
}



/* footer */
footer{
  width: 100%;
  background-color: #26a26f;
  font-size: .7rem;
  /* position: fixed;
  bottom: 0; */
}
table{
  font-size: .7rem;
  color: white;
  white-space: nowrap;
  width: 100%;
}
td{
  padding: 10px;
}
table a:link{
  color: white;
}
.wechat-qr{
  text-align: center;
}
.wechat-qr span{
  display: block;
  color: white;
  white-space: nowrap;
}
.copyright{
  color: white;
}
