/* header */
header{
  position: fixed;
  background-color: white;
  width: 100%;
  z-index: 100;
}
.socialmedia,
.phone{
  display: inline-block;
}
.phone{
  padding-left: 15%;
}
.phone a:link{
  color: #a2d9c0;
}
.socialmedia{
  float: right;
  padding-right: 15%;
}
.clear{
  clear: both;
}
.navbar{
  padding: .5rem 15%;
  background-color: #29b078;
}
.navbar-right{
  position: absolute;
  left: 50%;
}
.active{
  border-bottom: 3px solid white;
  color: #ffad85;
}
.nav-item{
  line-height: 3.5rem;
  color: white;
}

/* main */
main{
  padding-top: 6.5rem;
}
.carousel-indicators li{
  width: 10px;
  height: 10px;
  border-radius: 50%;
  border: 1px solid white;
  background-color: transparent;
}

/* footer */
footer{
  width: 100%;
  background-color: #26a26f;
  font-size: .7rem;
  /* position: fixed;
  bottom: 0; */
}
table{
  font-size: .7rem;
  color: white;
  white-space: nowrap;
}
td{
  padding: 10px;
}
table a:link{
  color: white;
}
.wechat-qr{
  text-align: center;
}
.wechat-qr span{
  display: block;
  color: white;
  white-space: nowrap;
}
.copyright{
  color: white;
}
.container span{
  display: block;
  text-align: center;
}
.grey{
  font-size: 0.8rem;
  color: #c4c4c4;
  text-align: left !important;
}
.row{
  padding: 1rem 15%;
}
.efficient{
  padding-top: 5rem;
  background: url(images/index_03.png) no-repeat top;
}
.standardized{
  padding-top: 5rem;
  background: url(images/index_05.png) no-repeat top;
}
.colleagues{
  padding-top: 5rem;
  background: url(images/index_07.png) no-repeat top;
}
.number{
  padding-left: 2rem;
  background: url(images/index_10.png) no-repeat left;
}
.rt{
  padding-top: 5rem;
}
