/* header */
header{
  position: fixed;
  background-color: white;
  width: 100%;
  z-index: 100;
}
.socialmedia,
.phone{
  display: inline-block;
}
.phone{
  padding-left: 15%;
}
.phone a:link{
  color: #a2d9c0;
}
.socialmedia{
  float: right;
  padding-right: 15%;
}
.clear{
  clear: both;
}
.navbar{
  padding: .5rem 15%;
  background-color: #29b078;
}
.navbar-right{
  position: absolute;
  left: 50%;
}
.active{
  border-bottom: 3px solid white;
  /* color: #ffad85; */
}
.nav-item{
  line-height: 3.5rem;
  color: white;
}


/* main */
main{
  padding-top: 7rem;
  background-color: #fafafa;
  min-height: 33.2rem;
}
.currentlocation{}
ul{
  padding: 0;
  width: 100%;
}
li{
  display: inline-block;
  padding: 0 1%;
}
.nav{
  display: inline-block !important;
}
a:link{
  color: black;
}
li .active{
  background-color: #29b078;
  color: white;
}
.col-md-4{
  padding: .5rem;
}
.position{
  margin: 0.5rem;
  overflow: hidden;
  background-color: white;
  box-shadow: 2px 2px 1px #888888;
}
p:not(.title){
  font-size: .7rem;
}
.positionTable{
  width: 100%;
  color: black;
  font-size: .7rem;
  line-height: .7rem;
}
.id{
  display: block;
  margin: 0.2rem;
  padding-left: 3rem;
  background: url('images/occupationlist_03.png') no-repeat left top;
  background-size: 3rem;
}
.star{
  padding: 0.5rem;
}
em{
  color: red;
  font-style: normal;
}
.grey{
  color: grey;
}
.center{
  text-align: center;
}
.pullRight{
  text-align: right;
}
.leftBar{
  border-left: 1px solid black;
}
.position td{
  border-top: 1px solid black;
}
.overTop{
  position: absolute;
  text-align: center;
  height: 100%;
  /* margin: 0 0.5rem 0.5rem 0; */
  padding: 2rem;
  background-color: rgba(0, 0, 0, 0.7);
  color: white;
  overflow: hidden;
  display: none;
}
.col-md-4:hover .overTop{
  display: block;
  }



/* footer */
footer{
  width: 100%;
  background-color: #26a26f;
  font-size: .7rem;
  /* position: fixed;
  bottom: 0; */
}
table{
  font-size: .7rem;
  color: white;
  white-space: nowrap;
}
td{
  padding: 10px;
}
table a:link{
  color: white;
}
.wechat-qr{
  text-align: center;
}
.wechat-qr span{
  display: block;
  color: white;
  white-space: nowrap;
}
.copyright{
  color: white;
}
